p {
    display: flex;
}

body {
    margin: 0;
    padding: 0;
    /* background-image: url(/static/assets/hand-city-bg.jpg);
    background-position: center 10%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: beige; */
}

h1 {
    font-size: 48px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #09474D;
}

.topBanner {
    background: #f5f5f5;
    height: 60px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.topBanner::-webkit-scrollbar {
    display: none;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: center;
}

.menu_item {
    padding: 0px 40px;
    font-family: 'Roboto', sans-serif;
}

.logo_zone {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.logo_text {
    padding-right: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}

.logo {
    width: 40px;
    height: 40px;
}

.banner_zone {
    display: flex;
    align-items: center;
    height: 100%;
}

.button_zone {
    padding: 12px 24px;
    border: solid black 2px;
    border-radius: 24px;
    margin-right: 60px;
}

.login {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.content_master {
    position: relative;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    overflow-y: scroll;
}

.content_zone {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.content_zone::-webkit-scrollbar {
    display: none;
}

.text_zone {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.custom_get_started_button {
    background-color: #09474D;
    width: 136px;
    height: 24px;
    color: white;
    border: solid #09474D 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto',sans-serif;
}

.pointer_on_hover:hover {
    cursor: pointer;
}

.image_content {
    width: 520px;
    padding-right: 36px;
}

@media screen and (max-width: 448px) {
    .topBanner {
        height: 196px;
    }

    .banner_zone {
        flex-direction: column;
    }

    .menu {
        align-items: center;
        flex-direction: column;
    }

    .menu_item {
        padding-bottom: 8px;
    }

    .logo_zone {
        margin-left: 0;
        padding-bottom: 12px;
    }

    .button_zone {
        margin-right: 0;
        margin-top: 4px;
    }

    .topBanner {
        overflow-y: scroll;
    }

    .image_content {
        width: 100%;
    }
}

/* @media screen and (max-width: 765px) {
    .menu_item {
        padding: 0;
    }
    .menu {
        justify-content: space-around;
    }

    .banner_zone {
        overflow: scroll;
    }
} */